Source:            userxinitrc
Maintainer:        Chua Hou <human+github@chuahou.dev>
Section:           x11
Priority:          optional
Standards-Version: 3.9.2
Build-Depends:     debhelper (>= 11)
Homepage:          https://github.com/chuahou/userxinitrc

Package:      xinit-xsession
Architecture: all
Multi-Arch:   foreign
Depends:      ${shlibs:Depends}, ${misc:Depends}
Description:  xinitrc session for display managers
 Custom script and .desktop file to allow direct running from a normal DM
 (e.g. GDM) of the traditional .xinitrc file.
